    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
    <div class="wrapper">
              <div class="mynavigation">
                <a href="/" class="pull-left">Home</a>
                <a href="/competencies" class="pull-right">Competencies</a>
              </div>
         <div class="allcentered">
            <h2 class="smallh2">-- About me --</h2>
            <small class="livesearch">little about me</small>
        </div>

        <hr/>

        <p class="imp">
        First of all, very Welcome and thank you for visiting my Portfolio!<br/><br/>
        My name is Ervin and I am a full-stack Web developer - PHP based on server side. I just love to code, create and explore, but to be able to retain my passions and evolve new skills, developing strong daily routines is very important.
        <br/><br/>
        Determination, organization and discipline are necessary needed things to maintain that life time learner task as a web developer. You need to specialize in one small particular area, but as a full-stack web developer, your role is some kind of different. You need to have a basis, but always be willing and fearless to jump into unknown. Technology is evolving very quickly and you just have to be prepared for any changes. That’s why having the overall conceptual knowledge or mindset is very important, so that particular task can be easily explored and successfully done.
        <br/><br/>
        Long-term focus and excitement lies in motto: <i>"Study everything, but study yourself first.”</i>
        </p>


        <hr/>

            <div class="allcentered">
              <div class="mynavigation">
                <a href="/contact">Contact me</a>
              </div>
              <h4>--- &copy;ervinselimovic 2016 ---</h4>
              <small><a href="https://ervinselimovic.com/blog">ervinselimovic.com</a></small>
            </div>
    </div>

    <div class="col-sm-4">
    </div>