         <div class="allcentered">
              <div class="mynavigation">
                <a href="/" class="pull-left">Home</a>
                <a href="/story" class="pull-right">Next</a>
              </div>
            <h4>-- little about me --</h4>
            <small class="livesearch">introduction</small>
         </div>
<p>
<strong>Welcome</strong>, dear visitor. Since you’re already crawling through my little site, let it be an interesting read.
<br/> 
My name is <strong>Ervin</strong>, I’m 22 years old and I’m comming from Slovenia. I’m really <strong>passionate</strong> about what I’m doing right now in my life. Every day I try to add at least a single piece to my puzzle to expand a display of big picture. 
<br/>
<br/>
For me, finding your <strong>path</strong> is really important life factor. But why I’m emphasising this? Well, feeling empty with no goal in life, can make you pretty unstable and uncreative person, but still, sometimes standing for what you believe, means standing alone, right? But as soon as you start to connect the <strong>dots</strong> (as Steve Jobs said), suddently everything makes sense. 
<br/>
<br/>
If you allow, I’ll describe you a <strong>short story</strong> in meaning of early writing. Click next.
</p>

            <hr/>
            <br/>

            <div class="allcentered">
                <div class="mynavigation">
                  <a href="/" class="pull-left">Home</a>
                  <a href="/story" class="pull-right">Next</a>
                </div>
              <h4>-- &copy;ervinselimovic 2016 --</h4>
              <small><a href="https://ervinselimovic.com">ervinselimovic.com</a></small>
           </div>