<div class="col-sm-4">
</div>

<div class="col-sm-4">
  <div class="wrapper">
                <div class="mynavigation">
                <a href="/" class="pull-left">Home</a>
                <a href="/references" class="pull-right">References</a>
              </div>
          <div id="comp" class="allcentered">
            <h3>-- computer competencies --</h3>
            <small class="livesearch">live search</small>
            <input type="text" ng-model="search" ng-maxlength="maxlength" class="form-control"/>
              <div class="searchresults">
                <h3>{{ search }}</h3>
              </div>
          </div>

            <table class="table table-stripped">
              <thead>
                <tr>
                  <th class="th">tech</th>
                  <th class="th">active</th>              
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in arrData | filter:search">
                   <td>{{ item.tech }}</td>
                   <td ng-bind-html="item.desc"></td> 
                </tr>
              </tbody>
            </table>

            <hr/>
            <br/>

            <div class="allcentered">
              <div class="mynavigation">
                <a href="/contact">Contact me</a>
              </div>
              <h4>--- &copy;ervinselimovic 2016 ---</h4>
              <small><a href="https://ervinselimovic.com/blog">ervinselimovic.com</a></small>
            </div>
  </div>
</div>

<div class="col-sm-4">
</div>