    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
    <div class="wrapper">
              <div class="mynavigation">
                <a href="/" class="pull-left">Home</a>
                <a href="/about" class="pull-right">About me</a>
              </div>
         <div class="allcentered">
            <h2 class="smallh2">-- Contact Info --</h2>
            <small class="livesearch">contact information</small>
        </div>

        <hr/>

        <p class="imp">Have a question? Need a website? Need an extra pair of hands at web application you're building?<br/>
        Feel free to contact me on email below, I'll happily answer as soon as possible!</p>

        <ul class="contactul">
            <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ervinselimovic10@gmail.com">ervinselimovic10@gmail.com</a></li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.si/maps/place/Ljubljana/@46.0660318,14.3920144,11z/data=!3m1!4b1!4m2!3m1!1s0x476531f5969886d1:0x400f81c823fec20?hl=sl" target="_blank">Ljubljana, Slovenia</a></li>
        </ul>

        <hr/>

            <div class="allcentered">
              <div class="mynavigation">
                <a href="/">Home page</a>
              </div>
              <h4>--- &copy;ervinselimovic 2016 ---</h4>
              <small><a href="https://ervinselimovic.com/blog">ervinselimovic.com</a></small>
            </div>
    </div>

    <div class="col-sm-4">
    </div>
