         <div class="allcentered">
              <div class="mynavigation">
                <a href="#/story" class="pull-left">Back</a>
                <a href="#/" class="pull-right">Home</a>
              </div>
            <h4>-- end story --</h4>
            <small class="livesearch">ending</small>
        </div>
<p>
So, here we are! To be honest, I never really liked computers, but back then I realized that I can make a <strong>better usage</strong> of it. I can use it to <strong>build</strong> and <strong>express</strong> myself, I just started to love it. 
<br/>
<br/>
Programming is really learning you how to <strong>think</strong> in a <strong>different</strong> way with different logic. It’s a <strong>lifestyle</strong>. Quickly I started to be creative again, because I already went through a process, that learned me so much, especially about <strong>the dip</strong> period. I gained that different desire for <strong>constant learning</strong> and growth in a different way of <strong>spirituality</strong>. Programming is an <strong>art</strong> and I think that everyone should learn, not just how to program, but how to create and build. Here are some books that I recommend => <strong>The dip</strong> (written by Godin), <strong>Program or be programmed</strong> (written by Rushkoff), <strong>Think like a programmer</strong> (written by Spraul).
<br/>
<br/> 
I hope that I didn’t make a bad impression on you, dear reader. If you need to <strong>contact</strong> me for some reason, you can send me an email on <strong>ervinselimovic10@gmail.com</strong> or visit my <strong>blog</strong> at <a href="https://ervinselimovic.com/blog">ervinselimovic.com</a>, where I’m blogging about some <strong>web development</strong> solutions, just to not forget, but maybe it also comes handy to you. Stay nice!
</p>

            <hr/>
            <br/>

            <div class="allcentered">
              <small class="livesearch">thanks for reading</small>
                <div class="mynavigation">
                  <a href="#/story" class="pull-left">Back</a>
                  <a href="#/" class="pull-right">Home</a>
                </div>
              <h4>-- &copy;ervinselimovic 2016 --</h4>
              <small><a href="https://ervinselimovic.com">ervinselimovic.com</a></small>
            </div>