      <div class="col-sm-4">

      </div>

      <div class="col-sm-4">

      <div class="allcentered">
        <h1 id="iwebdev">iWebDeveloper.</h1>
        <h3 id="iwebdev2">...because less is more.</h3>
      </div>

        <div class="myprofile img-thumbnail">

            <img src="assets/img/ervin.png" class="img-responsive img-circle eprofile" alt="Ervin Selimovic profile img"/>
          <h3>Ervin Selimovic</h3>
          <p><strong>Just a code lover.</strong></p>
            <small>Web developer at <a href="https://www.zabec.net/" target="_blank">Zabec.net</a></small><br/>
            <small>Get <strong><a href="/contact">Contact Information</a></strong></small><br/>
            <small>Visit my blog at <strong><a href="http://ervinselimovic.com/blog">ervinselimovic.com</a></strong></small>

            <div class="text-center socialmedia">
               <a href="https://twitter.com/onesnzeros10" target="_blank"><i class="fa fa-twitter"></i></a>
               <a href="https://github.com/ervinselimovic10" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>

        <br/>

        <div class="myfooter">
          <h4 style="text-align:center;">-- &copy; Ervin Selimovic 2016 --</h4>
        </div>

      </div>

      <div class="col-sm-4">
      </div>