         <div class="allcentered">
              <div class="mynavigation">
                <a href="#/aboutme" class="pull-left">Back</a>
                <a href="#/end" class="pull-right">Next</a>
              </div>
            <h4>-- short story --</h4>
            <small class="livesearch">short story</small>
         </div>
<p>
As a kid, I found my first love. It's called sport. I were trying in a lot of different niches, before I finally found myself in so called MMA.
<br/>
<br/> 
Back then, there was only one <a href="https://www.facebook.com/MMAVelenje/">MMA club</a> in town, and if you ask me, regarding to skills and knowledge they offer, in my eyes, it is still the only club in town. My colleagues and I, where the first generation there, that were competing in MMA. I were very <strong>passionate</strong> about it. I were looking at it as an <strong>art</strong> and I had finally realized the importance of a good <strong>team</strong>. That part of life, filled me with a non-stopping will for achieving the <strong>goal</strong> and got me familiar with hard working processes, which learned me a better <strong>organization</strong> and <strong>discipline</strong>.
<br/>
<br/>
The problem was, that since my fifth amatuer fight, further on I was competing <strong>injured</strong>. But still I won the <a href="http://www.mmaliga.si/sml-2012/">silver medal</a> in amatuer country championship, and on some international competition of Thay boxing in Slovenia, I was pronounced as <a href="http://www.dolenjskilist.si/2014/06/23/117507/sport/ostali_sporti/FOTO_Borec_vecera_je_bil_novomeski_up_Hamza_Sivro/">best fighter of tournaments</a>. But the injury was getting worse and I were getting slower. Doctor told me many times, that I can erase a professional career from my head, and that I have to put myself on standby for a while. I just didn’t want to realize it, but of course the <strong>judgment day</strong> has come.
<br/>
<br/>
I had a feeling that I betraied myself and that I am a quitter. Feeling of having nothing and being a zero. I tought that there will never be a thing in my life, that will satisfy me as same as competing in sports. I had to pull my self back, and make a big <strong>change</strong> to go further on.
<br/>
<br/>
I isolated myself for a while, to think about things. After some time I realized, that I never really took a time to get to know myself better and what I really want in my life.
</p>

            <hr/>
            <br/>

          <div class="allcentered">
                <div class="mynavigation">
                  <a href="#/aboutme" class="pull-left">Back</a>
                  <a href="#/end" class="pull-right">Next</a>
                </div>
              <h4>-- &copy;ervinselimovic 2016 --</h4>
              <small><a href="https://ervinselimovic.com">ervinselimovic.com</a></small>
          </div>
