    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
    <div class="wrapper">
              <div class="mynavigation">
                <a href="/" class="pull-left">Home</a>
                <a href="/contact" class="pull-right">Contact</a>
              </div>
         <div class="allcentered">
            <h2>-- References --</h2>
            <small class="livesearch">current & upcoming</small>
        </div>

        <hr/>

        <h4 class="bolded">Blogging CMS</h4>
        <p>Web development topics. Linux Ubuntu & PHP based.</p>
        <a href="https://ervinselimovic.com/blog"><img src="assets/img/ervinselimoviccom.jpg" class="img-responsive img-rounded imgopacity" alt="ervinselimovic.com" title="ervinselimovic.com"/></a>

        <hr/>

        <h4 class="bolded">AS storitve d.o.o.</h4>
        <p>Official site of cleaning service company.</p>
        <a href="https://asstoritve.info"><img src="assets/img/asstoritveinfo.jpg" class="img-responsive img-rounded imgopacity" alt="asstoritve.info" title="asstoritve.info"/></a>

        <hr/>

        <h4 class="bolded">MMA Velenje team</h4>
        <p>Official site of mixed martial arts training club. <strong>In development...</strong></p>
        <img src="assets/img/mmavelenje.jpg" class="img-responsive img-rounded imgopacity" alt="MMA Velenje" title="MMA Velenje"/>

        <hr/>

        <h4 class="bolded">"B-tisk"</h4>
        <p>Official site of paper products company. <strong>In development...</strong></p>
        <img src="assets/img/btisk.jpg" class="img-responsive img-rounded imgopacity" alt="B tisk" title="B tisk"/>

        <hr/>

        <h4 class="bolded">"Organizr"</h4>
        <p>Web application for group organising. <strong>In development...</strong></p>
        <img src="assets/img/organizr.jpg" class="img-responsive img-rounded imgopacity" alt="Organizr" title="Organizr"/>

        <hr/>

        <h4>FB groups</h4>
        <ul>
          <li><a href="https://www.facebook.com/asstoritve/" target="_blank">As storitve d.o.o.</a></li>
          <li><a href="https://www.facebook.com/mojsnepeu/" target="_blank">Mojsnep.eu (Host Provider)</a></li>
        </ul>

        <hr/>

            <div class="allcentered">
              <div class="mynavigation">
                <a href="/contact">Contact me</a>
              </div>
              <h4>--- &copy;ervinselimovic 2016 ---</h4>
              <small><a href="https://ervinselimovic.com/blog">ervinselimovic.com</a></small>
            </div>
    </div>

    <div class="col-sm-4">
    </div>